@media (max-width: 1281px) {
    .product-card {
        padding-bottom: 3%;
    }

    .container {
        display: block;
    }

    .slideshow {
        position: relative;
        width: 100%;

    }

}

@media (max-width: 1008px) {
    .product-card {
        padding-bottom: 5%;
    }

    .container {
        display: block;
    }
}

@media (max-width: 908px) {
    .product-card {
        padding-bottom: 5%;
    }

    .container {
        display: block;
    }
}


@media (max-width: 780px) {
    .product-card {
        display: inline-block;
        padding-bottom: 1%;
    }

    .product-image {
        width: 70%;
        height: 60%;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media (max-width: 550px) {
    .product-card {
        margin: 1%;
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 9%;
        margin-bottom: 7%;
        border-radius: 10px;
    }

    .product-name {
        margin-left: -35%;
        margin-right: -35%;
    }

    .product-list {
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .product-image {
        margin-top: 1px;
        width: 100%;
        height: 70%;
    }
}

@media (max-width: 450px) {
    .product-card {
        margin: 1%;
        padding-top: 3%;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 9%;
        margin-bottom: 7%;
        border-radius: 10px;
    }

    .product-name {
        margin-left: -35%;
        margin-right: -35%;
    }

    .product-list {
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .product-image {
        margin-top: 1px;
        width: 100%;
        height: 70%;
    }

    .seccionCatalogo {
        display: block;
    }

    .cardCatalogo {
        width: 40%;
    }

    .slideshow {
        position: relative;
        width: 100%;
        margin-top: 20%;
    }

    .imagenesChicas {
        height: 25%;
    }

}

@media (max-width: 350px) {
    .slideshow {
        position: relative;
        width: 100%;
        margin-top: 27%;
    }



    .product-card {
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        margin-left: 8%;
        margin-right: 10%;
    }
}