@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/fondoRojo.png);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.nuestrosDestacados {
    color: white;
    text-align: center;
    padding-top: 1%;
}



.follow-us {
    padding: 20px;
    text-align: center;
}

.follow-us h2 {
    color: white
}

.social-media {
    margin-top: 10px;
}

.logos {
    width: 3%;
}

.footer {
    text-align: center;
    background-color: #000000;
    color: white;
}

.social-media a {
    margin-right: 10px;
}

/* Para que el icono quede abajo a la derecha siempre */
.float-wa {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 5%;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cardCatalogo {
    margin: 1%;
    padding-left: 4%;
    padding-bottom: 5%;
    display: inline-flex;
    text-align: center;
    width: 30%;
}

.cardCatalogo img {
    width: 90%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10%;
    transition: transform 0.3s ease;
}


.cardCatalogo:hover img {
    transform: scale(1.1);
}

.card {
    position: relative;
    overflow: hidden;
    /* Evita que el texto adicional desborde el contenedor de la tarjeta */
}

.card-body {
    position: relative;
    /* Asegura que el texto adicional esté posicionado dentro del contenedor de la tarjeta */
    text-align: center;
}

.card .additional-text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    text-align: center;
    font-size: 14px;
}



/* Clase para que solo se vea en celular */
@media only screen and (min-width: 768px) {
    .visible-phone {
        display: none;
    }
}

/* Clase para que no se vea en celular */
@media only screen and (max-width: 768px) {
    .hidden-phone {
        display: none;
    }
}

/* Trasnforma los indicators del carousel en circulos */
.carousel-indicators>button {
    height: 0.5em !important;
    width: 0.5em !important;
    border: 0 !important;
    border-radius: 0.5em;
}

/* Para bajar los puntos en el carousel */
.carousel-indicators {
    bottom: -10% !important;
}

/* Margen arriba y abajo para todos los elementos con tag section */
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#filtro-btn {
    display: none;
    margin-top: 10px;
}

#filtro-list {
    display: none;
    margin-top: 10px;
}

@media (max-width: 767.98px) {

    /* Estilos para la pantalla pequeña */
    #content-container {
        display: none;
        /* Ocultar todo el contenido en pantallas pequeñas */
    }

    #filtro-btn {
        display: block;
    }

    #filtro-list.active {
        display: block;
    }
}


.form-control {
    background-color: white;
}

/* Estilos para el total en el carrito */
.total-container {
    text-align: center;
    margin-bottom: 20px;
}

.total-text {
    font-size: 20px;
    font-weight: bold;
}

.carritoColumn {
    position: sticky;
    top: 20px;
    overflow: auto;
    margin-top: 30px;
}

.containerDatosCompra {
    margin-left: 2%;
    margin-right: 1%;
}

.estilocarrito {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.toastify-text {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.btn-close-white {
    color: white;
    /* Otros estilos si es necesario */
}

form {
    display: flex;
    align-items: center;
}

/* Media query para reducir el tamaño del texto cuando la pantalla sea más pequeña */
@media screen and (max-width: 800px) {
    .card-title {
        font-size: 1em;
        /* Cambia el valor según el tamaño deseado */
    }

    .responsive-button {
        font-size: 0.8em;
        /* Ajusta el tamaño del texto del botón */
        /* Otros estilos que desees aplicar al botón en pantallas más pequeñas */
    }

    .col {
        flex: 0 0 50%;
        /* Establece el ancho de la columna en un 50% */
        max-width: 50%;
        /* Establece el ancho máximo en un 50% */
    }

    .cardCatalogo {
        width: 80%;
        /* Ocupar todo el ancho disponible */
        display: block;
        /* Mostrar una tarjeta debajo de la otra */
        margin: 10px auto;
        padding: 0;
        margin-bottom: 8%;
    }

    .cardCatalogo img {
        width: 90%;
        /* Ajustar imagen al ancho completo de la tarjeta */
        object-fit: cover;
        cursor: pointer;
        border-radius: 10%;
        transition: transform 0.3s ease;
    }

    .nuestrosDestacados {
        padding-top: 5%;
    }

    .footerDiv {
        margin-bottom: 8%;
    }

    .carousel-item {
        width: 100%;
        /* Asegura que los elementos ocupen todo el ancho disponible */
    }

    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-8 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .label-input-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .label-input-group button {
        flex: 0 0 30%;
        /* Ajusta el ancho de los botones */
        max-width: 30%;
    }

    .label-input-group input {
        flex: 0 0 40%;
        /* Ajusta el ancho del input */
        max-width: 40%;
    }

    form input[type="text"] {
        width: 80%;
        /* Ancho del input aumentado para pantallas pequeñas */
        padding: 8px;
        /* Ajuste del padding para mejorar el tamaño del input */
        font-size: 16px;
        /* Tamaño de fuente del input */
    }
}