@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/fondoRojo.png);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.nuestrosDestacados {
    color: white;
    text-align: center;
    padding-top: 1%;
}



.follow-us {
    padding: 20px;
    text-align: center;
}

.follow-us h2 {
    color: white
}

.social-media {
    margin-top: 10px;
}

.logos {
    width: 3%;
}

.nav-link {
    color: white;
}


/* Estilos para pantallas grandes */
@media (min-width: 850px) {
    .navbar {
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: 1000;
    }
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 849px) {
    .navbar {
        background-color: transparent;
        /* Cambiar al color oscuro deseado */
    }
}

.navbar-toggler {
    color: white;
}

.menuIcono {
    background-color: white;
}


.footer {
    text-align: center;
    background-color: #000000;
    color: white;
}

.social-media a {
    margin-right: 10px;
}

/* Para que el icono quede abajo a la derecha siempre */
.float-wa {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 5%;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cardCatalogo {
    margin: 1%;
    padding-left: 4%;
    padding-bottom: 5%;
    display: inline-flex;
    text-align: center;
    width: 30%;
}

.cardCatalogo img {
    width: 90%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10%;
    transition: transform 0.3s ease;
}


.cardCatalogo:hover img {
    transform: scale(1.1);
}

.card {
    position: relative;
    overflow: hidden;
    background-color: white;
    color: black;
    /* Evita que el texto adicional desborde el contenedor de la tarjeta */
}

.card-body {
    position: relative;
    /* Asegura que el texto adicional esté posicionado dentro del contenedor de la tarjeta */
    text-align: center;
}

.card .additional-text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

/* Estilos para el modal */
.modal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

/* Clase para que solo se vea en celular */
@media only screen and (min-width: 768px) {
    .visible-phone {
        display: none;
    }
}

/* Clase para que no se vea en celular */
@media only screen and (max-width: 768px) {
    .hidden-phone {
        display: none;
    }
}

/* Trasnforma los indicators del carousel en circulos */
.carousel-indicators>button {
    height: 0.5em !important;
    width: 0.5em !important;
    border: 0 !important;
    border-radius: 0.5em;
}

/* Para bajar los puntos en el carousel */
.carousel-indicators {
    bottom: -10% !important;
}

/* Margen arriba y abajo para todos los elementos con tag section */
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#filtro-btn {
    display: none;
    margin-top: 10px;
}

#filtro-list {
    display: none;
    margin-top: 10px;
}


.form-control {
    background-color: white;
    color: black;
}

/* Estilos para el total en el carrito */
.total-container {
    text-align: center;
    margin-bottom: 20px;
}

.total-text {
    font-size: 20px;
    font-weight: bold;
}

.carritoColumn {
    position: sticky;
    top: 20px;
    overflow: auto;
    margin-top: 30px;
}

.containerDatosCompra {
    margin-left: 2%;
    margin-right: 1%;
}

.estilocarrito {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.toastify-text {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.btn-close-white {
    color: white;
    /* Otros estilos si es necesario */
}

.custom-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2%;
}

.containerEditado {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.rowEditado {
    display: flex;
    flex-wrap: wrap;

}

.rowEditadoDescripcion {
    margin-bottom: -10%;

}

.imagenDescripcion {
    margin-top: 5%;
}

.colEditado {
    flex: 1 0 50%;
    padding: 0 15px;
    margin-top: 8%;
}

.h2Editado {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.h2EditadoDos {
    margin-top: 20%;
}

.pEditado {
    font-size: 16px;
    line-height: 1.5;
}

.ulEditado {
    padding-left: 20px;
}

.imgEditado {
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
}

.categorias-container {
    display: block;
    /* O el display apropiado que tengas para este contenedor */
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 3%;
}

.container-nueva {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row-nueva {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: -10%;
}

.columna-nueva-left {
    flex: 0 0 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.columna-nueva-right {
    flex: 0 0 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.titulo-nuevo {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.titulo-nuevo-1 {
    margin-top: 5%;
}

.parrafo-nuevo {
    font-size: 16px;
    line-height: 1.5;
}

.lista-nueva {
    padding-left: 20px;
}

.imagen-nueva {
    max-width: 100%;
    height: auto;
    margin-bottom: 20%;
}

/* Media query para reducir el tamaño del texto cuando la pantalla sea más pequeña */
@media screen and (max-width: 800px) {


    #product-name {
        margin-top: 10%;
        margin-left: 2%;
    }

    .columna-nueva-left,
    .columna-nueva-right {
        flex: 0 0 100%;
    }

    .columna-nueva-right {
        margin-top: 10%;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10%;
    }


    .categorias-container {
        display: none;
    }

    .card-title {
        font-size: medium;
    }

    .responsive-button {
        font-size: 0.8em;
        /* Ajusta el tamaño del texto del botón */
        /* Otros estilos que desees aplicar al botón en pantallas más pequeñas */
    }

    .col {
        flex: 0 0 50%;
        /* Establece el ancho de la columna en un 50% */
        max-width: 50%;
        /* Establece el ancho máximo en un 50% */
    }

    .cardCatalogo {
        width: 80%;
        /* Ocupar todo el ancho disponible */
        display: block;
        /* Mostrar una tarjeta debajo de la otra */
        margin: 10px auto;
        padding: 0;
        margin-bottom: 8%;
    }

    .cardCatalogo img {
        width: 90%;
        /* Ajustar imagen al ancho completo de la tarjeta */
        object-fit: cover;
        cursor: pointer;
        border-radius: 10%;
        transition: transform 0.3s ease;
    }

    .nuestrosDestacados {
        padding-top: 5%;
    }

    .footerDiv {
        margin-bottom: 8%;
    }

    .carousel-item {
        width: 100%;
        /* Asegura que los elementos ocupen todo el ancho disponible */
    }

    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-8 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .label-input-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .label-input-group button {
        flex: 0 0 30%;
        /* Ajusta el ancho de los botones */
        max-width: 30%;
    }

    .label-input-group input {
        flex: 0 0 40%;
        /* Ajusta el ancho del input */
        max-width: 40%;
    }

    form input[type="text"] {
        width: 80%;
        /* Ancho del input aumentado para pantallas pequeñas */
        padding: 8px;
        /* Ajuste del padding para mejorar el tamaño del input */
        font-size: 16px;
        /* Tamaño de fuente del input */
    }

    .custom-btn {
        margin-bottom: 5%;
    }

    .containerEditado {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .rowEditado {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        margin-bottom: -10%;
    }

    .h2Editado {
        font-size: 24px;
        margin-bottom: 10px;
        color: white;
    }

    .h2EditadoDos {
        margin-top: 5%;
    }

    .pEditado {
        font-size: 16px;
        line-height: 1.5;

    }

    .ulEditado {
        padding-left: 20px;
    }

    .colEditado {
        /* Tu estilo existente para las columnas */
        flex: 0 0 100%;
        /* Centrar contenido horizontalmente */
    }

    .imgEditado {
        max-width: 100%;
        height: auto;
        margin-bottom: 20%;
    }

}